/*-----------------------------------------------------------------------------------

    Theme Name: Fabrex - Restaurant and Cafe
    Description: Onepage Restaurant and Cafe Template
    Author: chitrakootweb
    Version: 3.2

-----------------------------------------------------------------------------------*/
/* ----------------------------------

Table of contents
        
    01. Basic
    02. Section heading
    03. Banner
    04. Navbar
    05. Header
    06. Sidebar
    07. Corner images
    08. About section
    09. Feature boxes
    10. Delicious Section
    11. Tabs
    12. Portfolio
    13. Owl Sliders
    14. Blog
    15. Footer

    
---------------------------------- */

$PrimaryColor: #eb3007;

$desk-xl-screen: 1599px;
$desk-lg-screen: 1399px;
$desk-lm-screen: 1200px;
$desk-md-screen: 1199px;
$desk-ms-screen: 1170px;
$desk-sm-screen: 992px;
$desk-xs-screen: 991px;
$tablet-sm-screen: 768px;
$tablet-xs-screen: 767px;
$mobile-sm-screen: 575px;

/*============================== 
    Basic
================================*/

@import url("https://fonts.googleapis.com/css?family=Pacifico");

body {
  font-size: 15px;
  color: #6b6b6b;
  font-weight: 400;
  line-height: 26px;
}

@media screen and (max-width: $tablet-xs-screen) {
  body {
    font-size: 14px;
  }
}

/* loader */
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff;
  display: table;
  text-align: center;
}

.loader {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  width: 200px;
  height: 200px;
}

.loader-icon {
  width: 80px;
  height: 80px;
  border: 5px solid $PrimaryColor;
  border-right-color: #eee;
  border-radius: 50%;
  position: relative;
  animation: loader-rotate 1s linear infinite;
  margin: 0 auto;
}

@keyframes loader-rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.text-theme-color {
  color: $PrimaryColor;
}

.title-font {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  display: inline-block;
  vertical-align: middle;
  font-size: 22px;
  line-height: normal;
  color: $PrimaryColor;

  &:before {
    height: 2px;
    width: 25px;
    content: "";
    background: $PrimaryColor;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }

  &.large {
    font-size: 48px;
    line-height: 48px;

    &:before {
      content: none;
    }
  }
}

.height-100vh {
  height: 100vh;
}

.bg-img {
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-theme {
  background-color: $PrimaryColor;
}

.theme-overlay[data-overlay-dark]:before {
  background: $PrimaryColor;
}

/* spacing between columns*/
.half-gutter {
  margin: 0;

  > [class*="col-"] {
    padding: 7px;
  }
}

.padding-7px-lr {
  padding-right: 7px;
  padding-left: 7px;
}

.valign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

a {
  &:hover, &:active {
    color: $PrimaryColor;
    text-decoration: none;
  }
}


/* button styles*/
.btn {
  display: inline-block;
  font-size: 14px;
  padding: 9px 22px;
  background: transparent;
  border: 2px solid $PrimaryColor;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 1px !important;
  color: $PrimaryColor;
  letter-spacing: .5px;
  line-height: inherit;
  min-width: 150px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;

  &:hover, &:active {
    background: $PrimaryColor;
    color: #fff;
    border-color: $PrimaryColor;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px !important;
  }

  &:focus {
    background: $PrimaryColor;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px !important;
    border-color: $PrimaryColor;
  }

  &.theme {
    background: $PrimaryColor;
    border: 2px solid $PrimaryColor;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 1px !important;
    color: #fff;
    min-width: 170px;

    &:hover, &:active {
      background: transparent;
      color: $PrimaryColor;
      border-color: $PrimaryColor;
    }

    &:hover span, &:active span {
      color: #fff;
    }

    &:focus {
      background: transparent;
      color: $PrimaryColor;
      border-color: $PrimaryColor;
    }
  }

  &.book-now {
    background: $PrimaryColor;
    border: 2px solid $PrimaryColor;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 1px !important;
    color: #fff;
    min-width: 200px;

    .cnt {
      -moz-transition: 0s all ease-in-out !important;
      -o-transition: 0s all ease-in-out !important;
      -webkit-transition: 0s all ease-in-out !important;
      transition: 0s all ease-in-out !important;
    }

    &:hover, &:active, &:focus {
      background: transparent;
      color: $PrimaryColor;
      border-color: $PrimaryColor;
    }
  }
}

.navbar .navbar-nav .btn.small {
  font-size: 12px;
  padding: 6px 18px;
  min-width: auto;
  margin-top: 4px;
  margin-left: 15px;
  text-align: center;
}

.nav-scroll .navbar-nav .btn.small {
  color: #fff;
  border-color: $PrimaryColor;
  border-width: 2px;
}

.navbar .navbar-nav .nav-link.btn.small.active {
  color: #fff;

  &:hover {
    color: $PrimaryColor;
  }
}

@media screen and (max-width: $desk-md-screen) {
  .btn {
    min-width: 140px;
    font-size: 13px;
    padding: 8px 20px;

    &.theme {
      min-width: 160px;
    }
  }
}

@media screen and (max-width: $desk-xs-screen) {
  .btn {
    min-width: 130px;
    font-size: 13px;
    padding: 7px 19px;

    &.theme {
      min-width: 140px;
    }
  }
}

@media screen and (max-width: $tablet-xs-screen) {
  .btn {
    min-width: 125px;
    font-size: 12px;
    padding: 4px 16px;

    &.theme {
      min-width: 130px;
    }
  }
}

@media screen and (min-width: $desk-lm-screen) {
  .container {
    max-width: $desk-ms-screen;
  }
}

/* ===================================
    Section heading
====================================== */
.section-heading {
  margin-bottom: 50px;
  text-align: center;

  &.half {
    margin-bottom: 30px;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    font-weight: 800;
    position: relative;
    line-height: 140%;
    font-size: 24px;
    text-transform: uppercase;
  }

  &.left {
    text-align: left;
  }

  strong {
    font-weight: 600;
  }

  p {
    font-size: 15px;
    font-weight: 400;
    padding-top: 15px;
    margin: 0 auto;
  }

  span {
    position: relative;
    font-size: 15px;
    font-weight: 500;
    color: $PrimaryColor;
    line-height: 200%;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: $desk-md-screen) {
  .section-heading {
    margin-bottom: 40px;

    h1, h2, h3, h4, h5, h6 {
      font-size: 22px;
    }

    &.half {
      margin-bottom: 25px;
    }
  }
  .title-font {
    font-size: 20px;

    &.large {
      font-size: 42px;
      line-height: 44px;
    }
  }
}

@media screen and (max-width: $desk-xs-screen) {
  .section-heading {
    margin-bottom: 35px;

    p {
      padding-top: 10px;
      font-size: 14px;
    }

    h1, h2, h3, h4, h5, h6 {
      font-size: 21px;
    }

    &.half {
      margin-bottom: 25px;
    }
  }
  .title-font {
    font-size: 19px;

    &.large {
      font-size: 36px;
      line-height: 40px;
    }
  }
}

@media screen and (max-width: $tablet-xs-screen) {
  .section-heading {
    margin-bottom: 30px;

    &.half {
      margin-bottom: 20px;
    }

    h1, h2, h3, h4, h5, h6 {
      font-size: 20px;
    }
  }
  .title-font {
    font-size: 18px;

    &.large {
      font-size: 30px;
      line-height: 36px;
    }
  }
}

/*============================== 
    Banner
================================*/
.banner-headline {
  font-size: 3rem;
  line-height: 1.2;
}

/* xclip */
.banner-headline.clip span {
  display: inline-block;
  padding: .2em 0;
}

.caption .highlight {
  color: $PrimaryColor;
}

.banner-headline {
  &.clip b {
    opacity: 0;
  }

  b.is-visible {
    opacity: 1;
  }
}

.owl-theme .owl-dots .owl-dot {
  span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #d5d5d5;
    margin: 5px 4px 0 4px;
    border: 2px solid #d5d5d5;
  }

  &.active span, &:hover span {
    background: $PrimaryColor;
    border-color: $PrimaryColor;
  }
}

.slider .arrow, .slider-fade .arrow {
  display: none !important;
}

.slider .owl-item, .slider-fade .owl-item {
  height: 100vh;
  position: relative;
}

.slider .item, .slider-fade .item {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

.slider .item .caption, .slider-fade .item .caption {
  width: 100%;
  z-index: 9;
}

.slider .owl-theme .owl-dots, .slider-fade .owl-theme .owl-dots {
  position: absolute;
  bottom: 5vh;
  width: 100%;
  left: 0;
}

@media only screen and (min-width: $tablet-sm-screen) {
  .banner-headline {
    font-size: 4.4rem;
    font-weight: 300;
  }
}

@media only screen and (min-width: $desk-ms-screen) {
  .banner-headline {
    font-size: 6rem;
  }
}

@media screen and (max-width: $desk-md-screen) {
  .small-height-align {
    min-height: 80vh;
  }
  .slider .owl-item, .slider-fade .owl-item {
    height: 80vh;
  }
}

@media screen and (max-width: $desk-xs-screen) {
  .small-height-align {
    min-height: 85vh;
  }
  .slider .owl-item, .slider-fade .owl-item {
    height: 85vh;
  }
}

@media screen and (max-width: $tablet-xs-screen) {
  .small-height-align {
    min-height: 75vh;
  }
  .slider .owl-item, .slider-fade .owl-item {
    height: 75vh;
  }
  .small-max-height {
    max-height: 70vh;
  }
}

@media screen and (max-width: $mobile-sm-screen) {
  .mb-bg-position-x-center {
    background-position-x: center !important;
  }
  .small-height-align {
    min-height: 70vh;
  }
  .slider .owl-item, .slider-fade .owl-item {
    height: 70vh;
  }
}

/*our-chef banner*/
.chef-section .owl-theme .owl-nav.disabled + .owl-dots {
  bottom: 30px;
  left: 0;
  position: absolute;
  z-index: 1;
  right: 130px;
}

.our-chef img {
  vertical-align: baseline;
}

@media screen and (max-width: $desk-xs-screen) {
  .chef-section {
    .sm-align-chef {
      margin-top: 0;
      position: relative;
      z-index: 1;
      border-right: 8px solid rgba(0, 0, 0, 0.1) !important;
    }

    .our-chef_img img {
      border-bottom: none !important;
    }

    .owl-theme .owl-nav.disabled + .owl-dots {
      left: inherit;
      right: 30px;
    }
  }
}

@media screen and (max-width: $mobile-sm-screen) {
  .chef-section {
    .our-chef_img img, .sm-align-chef {
      border-width: 2px !important;
    }
  }
}

/*============================== 
    Navbar
================================*/
.navbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: transparent;
  z-index: 9999;
  min-height: 70px;
  padding: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);

  .icon-bar {
    color: #fff;
  }
}

.navbar.bg-black {
  background: #232323;
  border-bottom: none;

  .navbar-nav .nav-link.active {
    color: $PrimaryColor;
  }

  &.nav-scroll .navbar-nav .nav-link {
    color: #fff;
  }

  .navbar-nav .nav-link:hover, &.nav-scroll .navbar-nav .nav-link.active {
    color: $PrimaryColor;
  }

  .navbar-nav .nav-link.btn.small {
    &:hover, &.active {
      color: #fff;
    }
  }
}

.navbar .navbar-nav .nav-link {
  font-size: 13px;
  font-weight: 600;
  color: #eee;
  letter-spacing: .5px;
  margin: 0;
  padding: 10px 15px;
  transition: all .5s;
  text-align: left;
  text-transform: uppercase;

  &:hover {
    color: $PrimaryColor;
  }

  &.active {
    color: $PrimaryColor;
    position: relative;
  }
}

.nav-scroll {
  background: #fff;
  box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.6);
  position: fixed;
  top: -100px;
  left: 0;
  width: 100%;
  transition: transform .5s;
  transform: translateY(100px);
  z-index: 99;

  &.bg-black .icon-bar {
    color: #fff;
  }

  .icon-bar, .navbar-nav .nav-link {
    color: #232323;
  }
}

.navbar-toggler {
  background: $PrimaryColor;
  width: 40px;
  height: 35px;
  padding: 0;
  border-radius: 0;
  position: absolute;
  right: 15px;
  top: 21px;
  cursor: pointer;
  z-index: 12399994;
  border: none;

  .icon-bar {
    &:after {
      -webkit-transition: all .3s ease;
      -ms-transition: all .3s ease;
      transition: all .3s ease;
      top: 17px;
      border: 0;
      height: 2px;
      width: 19px;
      background: #fff;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      position: absolute;
      right: 10px;
      display: block;
      content: "";
    }

    &:before {
      top: 17px;
      background: #fff;
      width: 19px;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-transition: all .3s ease;
      -ms-transition: all .3s ease;
      transition: all .3s ease;
      position: absolute;
      right: 10px;
      display: block;
      height: 2px;
      content: "";
    }
  }

  &.collapsed .icon-bar {
    &:after {
      position: absolute;
      top: 17px;
      right: 10px;
      display: block;
      height: 8px;
      width: 20px;
      border-top: 2px solid #fff;
      border-bottom: 2px solid #fff;
      content: "";
      background: none;
      -webkit-transform: rotate(0);
      -moz-transform: rotate(0);
      -ms-transform: rotate(0);
      -o-transform: rotate(0);
      transform: rotate(0);
    }

    &:before {
      -webkit-transition: all .3s ease;
      -ms-transition: all .3s ease;
      transition: all .3s ease;
      position: absolute;
      top: 11px;
      right: 10px;
      display: block;
      height: 2px;
      width: 20px;
      background: #fff;
      content: "";
      -webkit-transform: rotate(0);
      -moz-transform: rotate(0);
      -ms-transform: rotate(0);
      -o-transform: rotate(0);
      transform: rotate(0);
    }
  }
}

.nav-scroll .navbar-nav .logo {
  padding: 15px 0;
}

.logo {
  padding: 15px 0;
  width: 125px;
  font-size: 20px;
}

.logo span {
  color: blue;
}

@media screen and (min-width: $desk-sm-screen) {
  .navbar-expand-lg .navbar-collapse.desktop-hide {
    display: none !important;
  }
}

@media screen and (max-width: $desk-lg-screen) {
  .navbar > .container {
    padding-right: 3.5rem;
  }
}

@media screen and (max-width: $desk-md-screen) {
  .navbar .navbar-nav {
    .nav-link {
      padding: 10px;
      font-size: 12px;
    }

    .btn.small {
      margin-left: 5px;
      padding: 4px 16px;
      margin-top: 4px;
    }
  }
}

@media screen and (max-width: $desk-xs-screen) {
  .logo {
    padding: 11px 0 12px 0;
  }
  .navbar {
    border: none;

    .navbar-nav {
      .nav-link {
        border-bottom: 1px solid #383838;
      }

      .btn.small {
        margin: 10px 5px;
      }
    }

    > .container {
      padding-right: 0;
      position: relative;
    }

    .navbar-collapse {
      background: #232323;
      text-align: center;
    }

    .navbar-toggler {
      padding: 8px 0;
      text-align: right;
      width: 40px;
      top: 18px;
    }

    .nav-link {
      display: block;
    }

    .navbar-nav .active:after {
      width: 100%;
    }
  }
  .nav-scroll .navbar-collapse {
    .nav-link {
      color: #fff !important;
    }

    .active {
      color: $PrimaryColor !important;
    }

    .btn.active {
      color: #fff !important;
    }
  }
}

/*============================== 
    Header
================================*/
.header {
  overflow: hidden;

  .caption {
    .overflow-hidden {
      display: inline-block;
    }

    h3 {
      font-weight: 200;
      animation-delay: 0.5s;
      position: relative;
      display: inline-block;
    }

    h1 {
      color: #fff;
      margin: 10px 0;
      font-size: 70px;
      font-weight: 700;
      animation-delay: 0.8s;
    }

    p {
      font-size: 18px;
      color: #eee;
      word-spacing: 2px;
      animation-delay: 1.2s;
    }
  }

  .btn {
    animation-delay: 1.4s;

    i {
      position: relative;
      top: 1px;
    }
  }

  .arrow {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 13px;
    z-index: 8;

    a {
      color: #fff;

      &:hover {
        color: $PrimaryColor;
      }
    }

    i {
      position: relative;
      display: inline-block;
      width: 30px;
      height: 30px;
      line-height: 32px;
      font-size: 12px;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $PrimaryColor;
        border-radius: 50%;
        z-index: -1;
        transition: all .2s;
      }

      &:hover:after {
        background: #fff;
        transform: scale(1.2);
        transition: all .5s;
      }
    }
  }

  .social-links {
    a {
      display: inline-block;
      margin: 0 12px;
      font-size: 18px;

      &:hover {
        opacity: 0.85;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

@media screen and (min-width: $desk-lm-screen) {
  .header {
    height: 100vh;
  }
}

@media screen and (max-width: $desk-md-screen) {
  .header .caption h1 {
    font-size: 60px;
  }
}

@media screen and (max-width: $desk-xs-screen) {
  .header {
    transition-timing-function: none;
    -moz-transition-timing-function: none;
    -webkit-transition-timing-function: none;
    -o-transition-timing-function: none;
    -ms-transition-timing-function: none;
    transition-duration: 0s;
    -moz-transition-duration: 0s;
    -webkit-transition-duration: 0s;
    -o-transition-duration: 0s;
    -ms-transition-duration: 0s;

    .caption {
      h1 {
        font-size: 50px;
      }

      h2 {
        font-size: 30px;
      }

      p {
        font-size: 16px;
      }
    }

    .social-links a {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: $tablet-xs-screen) {
  .header .caption {
    h1 {
      font-size: 32px;
      margin-top: 5px;
      margin-bottom: 15px;
    }

    h3 {
      letter-spacing: 1px;
    }
  }
}

@media screen and (max-width: $mobile-sm-screen) {
  .header .caption h1 {
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 12px;
  }
}

/*============================== 
    Sidebar
================================*/
.side-menu {
  width: 30%;
  position: fixed;
  right: 0;
  top: 0;
  background: $PrimaryColor;
  z-index: 99999;
  height: 100%;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  -o-transition: -o-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease, -o-transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
  overflow: hidden;

  &.left {
    left: 0;
    right: auto;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  &.black {
    background: rgba(0, 0, 0, 0.95);
  }

  &.side-menu-active, &.before-side {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .navbar-brand {
    margin: 0 0 2.5rem 0;
  }
}

/*side overlay*/
#close_sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  -webkit-transition: opacity 300ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  -o-transition: opacity 300ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: opacity 300ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  display: none;
  z-index: 9999;
  opacity: 0.4;
}

/*side clode btn*/
.side-menu {
  .btn-close {
    height: 33px;
    width: 33px;
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 30px;
    right: 15px;
    cursor: pointer;
  }

  &.before-side .btn-close {
    display: none;
  }

  .btn-close {
    &:before, &:after {
      position: absolute;
      left: 16px;
      content: ' ';
      height: 24px;
      width: 2px;
      background: #fff;
      top: 5px;
    }

    &:before {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    &:after {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
}

/*side open btn*/
.sidemenu_btn {
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  width: 36px;
  padding: 6px;
  margin-right: 1rem;
  position: absolute;
  right: 25px;
  top: 22px;
  z-index: 99;

  &.left {
    left: 15px;
    right: auto;
  }

  > span {
    height: 2px;
    width: 100%;
    background: #fff;
    display: block;

    &:nth-child(2) {
      margin: 4px 0;
    }
  }
}

.nav-scroll .sidemenu_btn > span {
  background: #232323;
}

.bg-black.nav-scroll .sidemenu_btn > span {
  background: #fff;
}

.bg-white {
  .sidemenu_btn > span, &.nav-scroll .sidemenu_btn > span {
    background: #232323;
  }
}

.side-menu {
  .inner-wrapper {
    padding: 3.5rem 5rem;
    height: 100%;
    position: relative;
    overflow-y: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .side-nav {
    margin-bottom: 30px;
    display: block;
  }
}

.side-nav .navbar-nav .nav-item {
  display: block;
  margin: 10px 0;
  padding: 0 !important;
  opacity: 0;
  -webkit-transition: all 0.8s ease 500ms;
  -o-transition: all 0.8s ease 500ms;
  transition: all 0.8s ease 500ms;
  -webkit-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
  transform: translateY(30px);

  &:first-child {
    -webkit-transition-delay: .1s;
    -o-transition-delay: .1s;
    transition-delay: .1s;
  }

  &:nth-child(2) {
    -webkit-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s;
  }

  &:nth-child(3) {
    -webkit-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s;
  }

  &:nth-child(4) {
    -webkit-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s;
  }

  &:nth-child(5) {
    -webkit-transition-delay: .5s;
    -o-transition-delay: .5s;
    transition-delay: .5s;
  }

  &:nth-child(6) {
    -webkit-transition-delay: .6s;
    -o-transition-delay: .6s;
    transition-delay: .6s;
  }

  &:nth-child(7) {
    -webkit-transition-delay: .7s;
    -o-transition-delay: .7s;
    transition-delay: .7s;
  }

  &:nth-child(8) {
    -webkit-transition-delay: .8s;
    -o-transition-delay: .8s;
    transition-delay: .8s;
  }

  &:nth-child(9) {
    -webkit-transition-delay: .9s;
    -o-transition-delay: .9s;
    transition-delay: .9s;
  }
}

.side-menu.side-menu-active .side-nav .navbar-nav .nav-item {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.side-nav .navbar-nav .nav-link {
  display: inline-table;
  color: #fff;
  padding: 2px 0 3px 0 !important;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: normal;
  position: relative;
  -webkit-border-radius: 0;
  border-radius: 0;

  &:after {
    content: "";
    position: absolute;
    background: #fff;
    display: inline-block;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    overflow: hidden;
    -webkit-transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
    -o-transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
    transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
  }

  &:hover:after, &:focus:after {
    width: 100%;
  }

  &.active {
    background: transparent;

    &:after {
      width: 100%;
    }
  }
}

.side-menu .social-links a {
  color: #fff;

  &:hover {
    opacity: 0.65;
  }
}

@media screen and (max-width: $desk-lg-screen) {
  .sidemenu_btn {
    margin-right: 0;
  }
}

/*============================== 
    Corner images
================================*/
.corner-img {
  position: absolute;
}

.about-corner {
  left: 0;
  bottom: -15%;

  img {
    max-width: 75%;
  }
}

.menu-corner {
  left: -130px;
  top: -140px;
}

@media screen and (max-width: $desk-xl-screen) {
  .about-corner {
    left: 0;
    bottom: -15%;

    img {
      max-width: 60%;
    }
  }
  .menu-corner {
    left: -170px;
    top: -170px;
  }
}

@media screen and (max-width: $desk-lg-screen) {
  .about-corner {
    left: 0;
    bottom: -15%;

    img {
      max-width: 50%;
    }
  }
  .menu-corner {
    left: -130px;
    top: -140px;

    img {
      max-width: 75%;
    }
  }
}

@media screen and (max-width: $desk-md-screen) {
  .about-corner {
    left: 0;
    bottom: -17%;

    img {
      max-width: 50%;
    }
  }
}

@media screen and (max-width: $tablet-xs-screen) {
  .menu-corner {
    display: none;
  }
  .about-corner {
    left: -59%;
    bottom: -15%;
  }
}

/*============================== 
    About section
================================*/

.video_btn {
  position: relative;
  height: 80px;
  width: 80px;
  background: $PrimaryColor;
  text-align: center;
  display: inline-block;
  line-height: 80px;
  color: #fff;
  border-radius: 50%;
  transition-duration: 0s;
  -ms-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  -o-transition-duration: 0s;

  &:hover i, &:focus i {
    color: #fff;
  }

  &:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    height: 80px;
    width: 80px;
    border: 2px solid #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    opacity: .3;
    animation: pulse-border 1500ms ease-out infinite;
  }

  &:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    height: 95px;
    width: 95px;
    border: 2px solid #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    opacity: .3;
    animation: pulse-border 1500ms ease-out infinite;
  }
}

.video_btn-style2 {
  &:after, &:before {
    border-color: rgba(0, 0, 0, 0.1);
  }
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

.video_btn.small {
  width: 50px;
  height: 50px;
  line-height: 50px;

  &:after {
    height: 50px;
    width: 50px;
  }

  &:before {
    height: 65px;
    width: 65px;
  }
}

@media screen and (max-width: $desk-md-screen) {
  .video_btn {
    height: 75px;
    width: 75px;
    line-height: 75px;

    &:after {
      height: 75px;
      width: 75px;
    }

    &:before {
      height: 90px;
      width: 90px;
    }
  }
}

@media screen and (max-width: $desk-xs-screen) {
  .story-video {
    min-height: 325px;
  }

  .video_btn {
    height: 70px;
    width: 70px;
    line-height: 70px;

    &:after {
      height: 70px;
      width: 70px;
    }

    &:before {
      height: 85px;
      width: 85px;
    }
  }

  @keyframes pulse-border {
    0% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    }

    100% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.2);
    }
  }
}

@media screen and (max-width: $tablet-xs-screen) {
  .story-video {
    min-height: 200px;
  }
  .video_btn {
    height: 60px;
    width: 60px;
    line-height: 60px;

    &:after {
      height: 60px;
      width: 60px;
    }

    &:before {
      height: 75px;
      width: 75px;
    }
  }
}

/*============================== 
    Feature boxes
================================*/
.feature-box01 {
  .feature-icon {
    border-radius: 50%;
    height: 85px;
    line-height: 80px;
    transition: all 0.5s ease 0s;
    width: 85px;
    border: 2px solid $PrimaryColor;

    img {
      max-width: 50px;
    }
  }

  &:hover .feature-icon {
    background-color: $PrimaryColor;
  }
}

@media screen and (max-width: $desk-md-screen) {
  .feature-box01 .feature-icon {
    width: 75px;
    height: 75px;
    line-height: 70px;

    img {
      width: 65%;
    }
  }
}

@media screen and (max-width: $desk-xs-screen) {
  .feature-box01 .feature-icon {
    width: 70px;
    height: 70px;
    line-height: 65px;
  }
}

@media screen and (max-width: $tablet-xs-screen) {
  .feature-box01 .feature-icon {
    width: 65px;
    height: 65px;
    line-height: 60px;
  }
}

/*============================== 
    Delicious Section
================================*/
.menu-row {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;

  .menu-item {
    display: inline-block;
    vertical-align: middle;
    width: 52px;

    img {
      vertical-align: middle;
    }
  }

  .item-name {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    margin-bottom: 0;
    width: 78%;
    position: relative;
    overflow: hidden;

    &:after {
      background: url(../img/dotted-linet.png) repeat-x;
      content: "";
      width: 100%;
      height: 1px;
      display: inline-block;
      position: absolute;
      bottom: 9px;
    }
  }

  .price {
    display: inline-block;
    width: 50px;
    text-align: right;
    vertical-align: middle;
  }

  li {
    width: 100%;
    float: left;
    margin-bottom: 5px;
  }
}

.delicious-menu {
  .block {
    float: left;
    margin-left: -145px;
    background-color: #fff;
    width: calc(100% + 145px);
    min-height: 406px;
  }

  .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 50px;
    line-height: normal;
  }
}

@media screen and (max-width: $desk-md-screen) {
  .delicious-menu {
    .block {
      min-height: 380px;
    }

    .owl-theme .owl-nav.disabled + .owl-dots {
      margin-top: 40px;
    }
  }
  .menu-row .item-name {
    width: 74%;
  }
}

@media screen and (max-width: $desk-xs-screen) {
  .delicious-section img {
    width: 100%;
  }
  .delicious-menu {
    .row .block {
      max-width: 100%;
      margin-left: 0;
      margin-top: 20px;
      min-height: auto;
    }

    .owl-theme .owl-nav.disabled + .owl-dots {
      margin-top: 30px;
    }

    .owl-carousel .owl-item img {
      width: 100%;
    }
  }
  .menu-row .item-name {
    width: 82%;
  }
}

@media screen and (max-width: $tablet-xs-screen) {
  .menu-row {
    .item-name {
      max-width: 53%;
      width: 100%;
      margin-top: 8px;
      line-height: 22px;
    }

    li {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

/*============================== 
    Tabs
================================*/
ul.resp-tabs-list {
  margin: 0px;
  padding: 0px;
}

.resp-tabs-list li {
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  padding: 10px 15px 16px 15px;
  margin: 0 8px 0 0;
  list-style: none;
  cursor: pointer;
  min-width: 175px;
  background: #fff;
  border: 1px solid #d5d5d5;
  border-width: 1px 1px 0 1px;
  line-height: 16px;

  &:last-child {
    margin-right: 0;
  }

  i {
    font-size: 28px;
    margin-bottom: 8px;
    color: #6f6f6f;
  }
}

.resp-tabs-container {
  padding: 0px;
  background-color: #fff;
  clear: left;
}

.resp-tab-content {
  display: none;
  padding: 50px 0 0 0;
}

.resp-content-active, .resp-accordion-active {
  display: block;
}

.resp-tab-content {
  border: 1px solid #c1c1c1;
  border-top-color: #c1c1c1;
  float: left;
  width: 100%;
}

h2 {
  &.resp-accordion {
    background: #fff !important;
    cursor: pointer;
    display: none;
    font-size: 14px;
    border: 1px solid #e4e4e4;
    border-top: 0px solid #e4e4e4;
    margin: 0px;
    padding: 15px 21px;
    float: left;
    width: 100%;
  }

  &.resp-tab-active {
    border-bottom: 0px solid #e4e4e4 !important;
    background: $PrimaryColor !important;
    color: #fff;
  }

  &.resp-tab-title:last-child {
    border-bottom: 12px solid #e4e4e4 !important;
    background: $PrimaryColor;
  }
}

.resp-arrow {
  border-color: transparent #232323 #232323 transparent;
  border-style: solid;
  border-width: 0 1px 1px 0;
  float: right;
  display: block;
  height: 8px;
  transform: rotate(45deg);
  width: 8px;
  margin-top: 4px;
}

h2.resp-tab-active span.resp-arrow {
  border-color: #fff transparent transparent #fff;
  border-style: solid;
  border-width: 1px 0 0 1px;
  float: right;
  display: block;
  height: 8px;
  transform: rotate(45deg);
  width: 8px;
  margin-top: 7px;
}

/* accordion styles */
.resp-easy-accordion {
  h2.resp-accordion {
    display: block;
  }

  .resp-tab-content {
    border: 1px solid #c1c1c1;

    &:last-child {
      border-bottom: 1px solid #c1c1c1;
      /* !important; */
    }
  }
}

.resp-jfit {
  width: 100%;
  margin: 0px;
}

.resp-tab-content-active {
  display: block;
  border-color: #e4e4e4 !important;
}

h2.resp-accordion {
  &:first-child {
    border-top: 1px solid #e4e4e4;
  }

  &.resp-tab-active {
    border-color: #e4e4e4 !important;
  }
}

.price-label {
  position: absolute;
  right: 0;
  top: 0;
  letter-spacing: 2px;
  text-align: center;
  padding: 2px;

  span {
    border: 1px solid #fff;
    display: inline-block;
    padding: 0 8px;
  }
}

/* tab-style */
@media screen and (min-width: $tablet-sm-screen) {
  .tab-style {
    ul.resp-tabs-list {
      text-align: center;

      &.text-left {
        padding-left: 15px;
      }

      li {
        &:last-child {
          margin-right: 0;
        }

        &.resp-tab-active {
          position: relative;

          &:after {
            content: "";
            background: $PrimaryColor;
            height: 3px;
            width: 25%;
            display: inline-block;
            position: absolute;
            bottom: -2px;
            left: 0;
            right: 0;
            margin: 0 auto;
          }
        }
      }
    }

    .resp-tab-content {
      border: 2px solid #e6e6e6;
      border-width: 2px 0 0 0;
      border-color: #4e54c8;
    }
  }
}

@media screen and (max-width: $desk-md-screen) {
  .resp-tabs-list li {
    min-width: 160px;
  }
}

@media screen and (max-width: $desk-xs-screen) {
  .resp-tabs-list li {
    font-size: 13px;
    min-width: 120px;
    padding: 10px;
  }
}

/* change the breakpoint to set the accordion */
@media screen and (max-width: $tablet-xs-screen) {
  ul.resp-tabs-list {
    display: none;
  }
  h2.resp-accordion {
    display: block;

    i {
      margin-right: 12px;
      font-size: 18px;
      min-width: 25px;
    }

    &.resp-tab-active i {
      color: #fff;
    }
  }
  .resp-accordion-closed {
    display: none !important;
  }
  .resp-tab-content {
    background-color: #fff;
    padding: 20px 15px;
  }
}

/*============================== 
    Portfolio
================================*/
.portfolio {
  overflow: hidden;

  .filtering {
    span {
      margin-right: 8px;
      color: #333;
      letter-spacing: 1px;
      font-weight: 600;
      font-size: 14px;
      cursor: pointer;
      border: 1px solid #d5d5d5;
      border-radius: 30px;
      padding: 5px 20px;
      display: inline-block;
      margin-bottom: 10px;

      &:last-child {
        margin: 0;
      }

      &:hover {
        border-color: $PrimaryColor;
        background: $PrimaryColor;
        color: #fff;
      }
    }

    .active {
      border-color: $PrimaryColor;
      background: $PrimaryColor;
      color: #fff;
    }
  }

  .item-img {
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
    }

    &:hover {
      .item-img-overlay {
        opacity: 1;
        transform: translateY(0);
      }

      h6 {
        transform: translateY(0);
      }
    }

    h6 {
      font-weight: 600;
      position: relative;
      font-size: 16px;
      color: #fff;
      margin-bottom: 0;
      transform: translateY(15px);
      transition: all .5s;
    }

    .fa {
      background: $PrimaryColor;
      border: 1px solid $PrimaryColor;
      border-radius: 50%;
      color: #fff;
      display: inline-block;
      height: 30px;
      line-height: 28px;
      width: 30px;
      margin-bottom: 5px;
      transition: all .5s;

      &:hover {
        background: #fff;
        color: $PrimaryColor;
      }
    }
  }

  .item-img-overlay {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    background: rgba(0, 0, 0, 0.85);
    color: #fff;
    opacity: 0;
    transition: all .5s;
    z-index: 2;
    transform: translateY(10px);
  }
}

/*============================== 
    Owl Sliders
================================*/
.owl-carousel .owl-item img {
  width: auto;
  display: inline-block;
}

/* testimonials */
.testimonials .owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 50px;
}

@media screen and (max-width: $desk-md-screen) {
  .testimonials .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 40px;
  }
}

@media screen and (max-width: $desk-xs-screen) {
  .testimonials .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 30px;
  }
}

@media screen and (max-width: $tablet-xs-screen) {
  .testimonials .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 20px;
  }
}

/*============================== 
    Blog
================================*/
.blog .item {
  box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
  border-radius: 5px;

  .post-img {
    position: relative;
    overflow: hidden;

    &:hover img {
      transform: scale(1.1);
    }

    img {
      width: 100%;
      transition: all .5s;
    }
  }

  .content {
    padding: 30px;
    background: #fff;
    text-align: left;

    .tag {
      font-weight: 500;
      font-size: 12px;
      margin-bottom: 5px;
      letter-spacing: 1px;
    }

    .read-more {
      margin-top: 20px;
      font-weight: 700;

      &:hover {
        color: $PrimaryColor;
        text-decoration: none;
      }
    }

    h6 {
      line-height: normal;
      text-transform: inherit;
      margin-bottom: 2px;
    }
  }
}

.blog-nav {
  position: static !important;
  background: #fff !important;
  margin: 0;
  top: 0;
  transform: translateY(0px);

  .logo {
    color: #1c1c1c !important;
  }

  .navbar-nav .nav-link, .icon-bar {
    color: #232323;
  }
}

.blog-header {
  background: #232323;
  position: relative;

  h2 {
    font-weight: 700;
    letter-spacing: 1px;
    color: #ccc;
    margin-bottom: 15px;
  }

  a {
    position: relative;
    color: #d5d5d5;

    &:after {
      content: '/';
      position: relative;
      margin: 0 10px;
    }

    &:last-child:after {
      display: none;
    }

    &:hover {
      color: #fff;
    }

    &.active {
      color: $PrimaryColor;
    }
  }
}

.blogs .posts {
  .comments-area .comment-box {
    padding-bottom: 30px;
    margin-bottom: 50px;
    border-bottom: 1px solid #eee;

    &:nth-child(odd) {
      margin-left: 80px;
    }

    &:last-child {
      margin-bottom: 30px;
    }

    .author-thumb {
      width: 80px;
      float: left;
    }

    .comment-info {
      margin-left: 100px;

      h6 {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 10px;
      }

      .reply {
        margin-top: 10px;
        font-weight: 600;

        i {
          padding-right: 5px;
          font-size: 12px;
        }
      }
    }
  }

  .pagination {
    border-radius: 0;
    padding: 0;
    margin: 0;

    ul {
      display: inline-block;
      *display: inline;
      *zoom: 1;
      margin: 0 auto;
      padding: 0;
    }

    li {
      display: inline;
    }

    a {
      float: left;
      padding: 0 18px;
      line-height: 40px;
      text-decoration: none;
      border: 1px solid #dbdbdb;
      border-left-width: 0;
      background: #fff;

      &:hover {
        background-color: #232323;
        color: #fff;
      }
    }

    .active a {
      background-color: #f7f7f7;
      color: #999;
      cursor: default;
    }

    .disabled {
      span {
        color: #999;
        background-color: transparent;
        cursor: default;
      }

      a {
        color: #999;
        background-color: transparent;
        cursor: default;

        &:hover {
          color: #999;
          background-color: transparent;
          cursor: default;
        }
      }
    }

    li:first-child a {
      border-left-width: 1px;
    }
  }
}

/* blog list-simple */
.blog-list-simple {
  margin: 0 0 30px 0;
  padding-bottom: 30px;

  &:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.blog-list-simple-text {
  color: #999;

  > span {
    color: $PrimaryColor;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
  }

  p {
    border-top: 1px solid #ececec;
    color: #999;
    font-size: 15px;
    font-weight: 400;
    line-height: 170%;
    margin-bottom: 0;
    padding: 15px 0;
  }

  .meta {
    margin: 0 0 5px 0;
  }

  li {
    display: inline-block;
    font-size: 12px;
    color: #777;
    margin: 5px;
  }

  h4 {
    color: #232323;
    font-size: 20px;
    font-weight: 500;
    margin: 5px 0;
    line-height: normal;
  }

  ul {
    margin: 10px 0;

    li {
      color: #999;
      font-size: 14px;
      font-weight: 500;
      padding: 3px 0;

      i {
        color: $PrimaryColor;
        margin-right: 5px;
        font-size: 14px;
      }
    }
  }
}

/* blogs post */
.blogs {
  .post {
    margin-bottom: 50px;

    .content {
      padding: 30px;
      background: #fafafa;

      .post-title h5 {
        line-height: normal;
        font-weight: 500;
        margin-bottom: 0;

        a {
          color: #232323;

          &:hover {
            color: #00bcd1;
          }
        }
      }

      .meta {
        margin-bottom: 15px;

        li {
          display: inline-block;
          margin: 5px;
        }
      }

      .special {
        padding: 15px;
        margin: 30px 0;
        border-left: 2px solid #111;
        background: #f7f7f7;
      }

      .btn {
        border-color: #6f6f6f;
        color: #6f6f6f;
        min-width: auto;
        padding: 6px 20px;
        font-size: 12px;

        &:hover {
          color: #fff;
          border-color: #00bcd1;
        }
      }
    }

    .share-post {
      margin-top: 30px;
      padding-top: 20px;
      border-top: 1px dashed #ddd;
      text-align: left;

      span {
        font-weight: 700;
      }

      ul {
        float: right;

        li {
          display: inline-block;
          margin: 0 10px;
        }
      }
    }

    .post-img img {
      width: 100%;
    }
  }

  .posts .title-g h3 {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;
  }
}

/* blogs comments */
.blogs {
  .comments-area .comment-box {
    padding-bottom: 30px;
    margin-bottom: 50px;
    border-bottom: 1px solid #eee;

    &:nth-child(odd) {
      margin-left: 80px;
    }

    &:last-child {
      margin-bottom: 30px;
    }
  }

  .comment-box {
    .author-thumb {
      width: 80px;
      float: left;
    }

    .comment-info {
      margin-left: 100px;

      h6 {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 10px;
      }

      .reply {
        margin-top: 10px;
        font-weight: 600;

        i {
          padding-right: 5px;
          font-size: 12px;
        }
      }
    }
  }
}

/* pagination */
.pagination {
  border-radius: 0;
  padding: 0;
  margin: 0;

  ul {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin: 0 auto;
    padding: 0;
  }

  li {
    display: inline;
  }

  a {
    float: left;
    padding: 0 18px;
    line-height: 40px;
    text-decoration: none;
    border: 1px solid #dbdbdb;
    border-left-width: 0;
    background: #fff;

    &:hover {
      background-color: #232323;
      color: #fff;
    }
  }

  .active a {
    background-color: #f7f7f7;
    color: #999;
    cursor: default;
  }

  .disabled {
    span {
      color: #999;
      background-color: transparent;
      cursor: default;
    }

    a {
      color: #999;
      background-color: transparent;
      cursor: default;

      &:hover {
        color: #999;
        background-color: transparent;
        cursor: default;
      }
    }
  }

  li:first-child a {
    border-left-width: 1px;
  }
}

.blockquote {
  background: #f1f1f1;
  border-left: 4px solid #00bcd1;
  font-size: 16px;
  font-weight: 500;
  margin: 25px 0;
  padding: 20px 30px 30px;

  p {
    font-size: 15px;
    font-weight: 500;
    line-height: 190%;
    color: #232323;
    letter-spacing: .5px;
  }

  h4 {
    font-size: 20px;
    font-weight: 400;
    color: #232323;
    letter-spacing: .5px;
  }
}

.side-bar {
  .widget {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    .widget-title h6 {
      position: relative;
      padding-bottom: 5px;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 1px;
      margin-bottom: 20px;

      &:after {
        content: '';
        width: 30px;
        height: 1px;
        background: $PrimaryColor;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }

    li {
      position: relative;
      padding: 0 0 0 12px;
      margin: 0 0 9px 0;
      color: #6f6f6f;

      &:last-child {
        margin: 0;
      }

      &:after {
        content: "";
        width: 5px;
        height: 1px;
        background-color: #6f6f6f;
        position: absolute;
        top: 12px;
        left: 0;
      }
    }

    .social-listing {
      margin-bottom: 0;

      li {
        list-style: none;
        display: inline-block;

        &:after {
          background: none;
        }

        &:first-child {
          padding-left: 0;
        }
      }
    }
  }

  .search form {
    input {
      width: calc(100% - 50px);
      height: 50px;
      padding: 0 10px;
      margin: 0;
      border: 1px solid #d1d1d1;
      background: #f7f7f7;
    }

    button {
      width: 50px;
      height: 50px;
      line-height: 50px;
      color: #fff;
      background: $PrimaryColor;
      border: 0;
      float: right;
      border-radius: 0;
      padding: 0;

      &:hover:before {
        border-radius: 0;
        padding: 0;
      }
    }
  }
}

@media screen and (max-width: $desk-xs-screen) {
  .blog-nav .navbar-nav .nav-link {
    color: #fff;
  }
}

@media screen and (max-width: $tablet-xs-screen) {
  .blog-list-simple {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  .blogs .posts .post .content {
    padding: 20px;

    .post-title h5 {
      font-size: 22px;
    }
  }
}

/*============================== 
    Footer
================================*/
/* map */
#map {
  height: 650px;
  width: 100%;
}

.footer-bottom a:hover {
  color: #000;
}

.footer-social a {
  display: inline-block;
  margin: 0 12px;

  &:last-child {
    margin-right: 0;
  }

  i {
    color: #b7b7b7;
    font-size: 18px;
  }

  &:hover i {
    color: $PrimaryColor;
  }
}

.back-to-top {
  background: #6f6f6f;
  border-radius: 50%;
  position: fixed;
  z-index: 9;
  right: 25px;
  bottom: 15px;
  width: 35px;
  height: 35px;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 350ms;
  -o-transition: opacity 350ms;
  transition: opacity 350ms;

  i {
    position: absolute;
    left: 50%;
    top: 45%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 16px;
  }

  &:hover {
    background: $PrimaryColor !important;
  }

  &.reveal {
    cursor: pointer;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    opacity: 1;
    filter: alpha(opacity=100);

    &:focus, &:hover, &:active {
      opacity: 1;
      filter: alpha(opacity=100);
    }
  }
}

@media screen and (max-width: $desk-lg-screen) {
  #map {
    height: 525px;
  }
}

@media screen and (max-width: $desk-md-screen) {
  #map {
    height: 450px;
  }
}

@media screen and (max-width: $desk-xs-screen) {
  #map {
    height: 400px;
  }
  .footer-social a {
    margin: 0 15px;

    i {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: $tablet-xs-screen) {
  #map {
    height: 300px;
  }
  .footer-social a {
    margin: 0 10px;
  }
}

@media screen and (max-width: $mobile-sm-screen) {
  .footer-social a {
    margin: 0 6px;
  }
}